h1 {
    color: white;
}

body {
    background-color: green;
    color: burlywood;
    text-align: justify;
}

@media screen and (width: 500px) {
    body {
        color: white;
    }
}

img {
    width: 25%;
    padding-left: 25%;
}

